<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SETIVB FOR WINDOWS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/home/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600">
		<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
		<script src="/js/home/aos.js" defer></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image app"><img src="images/appimg.png" alt="" /></span>
							<h1 id="title">SETIVB</h1>
							<p>Set to title</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#summary" id="feature-link"><span class="icon solid fa-info">Feature-list</span></a></li>
								<li><a href="/contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
								<li><a href="/download" id="download-link"><span class="icon solid fa-download">Download</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>SETIVB</strong>, It is a real-time image processing-based air touch program</h2>
								<p>that can recognize the user's hand movements on a computer with a webcam and perform various functions such as touch and scroll without a mouse.</p>
							</header>

							<footer>
								<!-- <button onclick="window.open('watch.html','watch',
								'width=500, height=300,location=no,top=200%,left=600%,status=no,scrollbars=1');">Watch</button> -->
								<div class="watchb-bg">
									<div class="watchw-bg">
									  <video video src="images/airtouch.mp4" controls autoplay muted width="80%" height="40%"></video>
									  <button class="btn btn-danger" id="close">닫기</button>
									</div>
								  </div> 
								<button id="watch">Watch</button>
							</footer>
							<!-- watch.html -> 반응형 으로 변환  -->
						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>EFFECT</h2>
							</header>

							<p>If air touch is practical, 
								the spread of COVID-19 can be blocked in advance,
								 and it can be designated by hand without input devices such as remote control or mouse.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/board.png" alt="" /></a>
										<header>
											<h3>Blackboard function</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/quarantine.png" alt="" /></a>
										<header>
											<h3>quarantine</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/clock.png" alt="" /></a>
										<header>
											<h3>Real-time recognization</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/mouse.png" alt="" /></a>
										<header>
											<h3>Mouse control</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/volume.png" alt="" /></a>
										<header>
											<h3>Volume control</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/remote.jpg" alt="" /></a>
										<header>
											<h3>Remote operation</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>
							<p style="font-size: larger;"><strong>- SETIVB MOUSE MODE -</strong></p>
							<a href="#" class="image featured"><img src="images/airtouch.gif"></a>

							<p>Air Touch Program 은 Window환경에서 마우스장비 없이 마우스이 좌 클릭, 우 클릭, 스크롤의 제어가 가능할 뿐만 아니라 볼륨제어까지 가능하게 해주는 장점이 있습니다!!</p>

							<p style="font-size: larger;"><strong>- SETIVB BOARD MODE -</strong></p>
							<a href="#" class="image featured"><img src="images/board.gif"></a>
							<p>Air Board Program 은 Window환경에서 원,직사각형,직선,자유형 등 그리기도구를 선택하여 사용할 수 있으며 색깔과 선의 굵기를 손동작으로 쉽게 제어할 수 있습니다!!</p>
						</div>
					</section>

				<!-- Contact -->
					<section id="summary" class="five">
						<div class="container">

							<header>
								<h2> Feature List</h2>
							</header>
							<!-- 동적인요소 -->
							<div class="shape" onscroll="imgspin()">
								<div class="spinner" >
									<img id="fi" src="images/appimg.png">								
								</div>
								
								<div id="features" >
									<div class="feature">
										<div class="feature-name"><i class="fa fa-star"></i>Remote operation<i class="fa fa-star"></i></div>
										<div class="feature-info">
										  Generate clean sounds using Vital's oscillators that have an extremely low noise floor and have a sharp cutoff at Nyquist for almost no aliasing.
										</div>
									  </div>
									  
									  <div class="feature">
										<div class="feature-name"><i class="fa fa-star"></i>Quarantine<i class="fa fa-star"></i></div>
										<div class="feature-info">
										  There are some clever SSE optimizations to keep the oscillators easy on your CPU, so don't be afraid to crank up the unison.
										</div>
									  </div>
									  
									  <div class="feature">
										<div class="feature-name"><i class="fa fa-star"></i>Blackboard function<i class="fa fa-star"></i></div>
										<div class="feature-info">
										  Vital loads .tun, .scl, and .kbd files so you can play microtonally.
										  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio nulla et explicabo voluptatibus consequuntur ipsam praesentium inventore aliquam ut, soluta officia optio alias. Natus nostrum in nam enim maxime et!Lorem
										</div>
									  </div>
									  <div class="feature">
										<div class="feature-name"><i class="fa fa-star"></i>Mouse control<i class="fa fa-star"></i></div>
										<div class="feature-info">
										  Vital loads .tun, .scl, and .kbd files so you can play microtonally.
										  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio nulla et explicabo voluptatibus consequuntur ipsam praesentium inventore aliquam ut, soluta officia optio alias. Natus nostrum in nam enim maxime et!Lorem
										</div>
									  </div>
									  <div class="feature">
										<div class="feature-name"><i class="fa fa-star"></i>Volume control<i class="fa fa-star"></i></div>
										<div class="feature-info">
										  Vital loads .tun, .scl, and .kbd files so you can play microtonally.
										  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio nulla et explicabo voluptatibus consequuntur ipsam praesentium inventore aliquam ut, soluta officia optio alias. Natus nostrum in nam enim maxime et!Lorem
										</div>
									  </div>
									  <div class="feature">
										<div class="feature-name"><i class="fa fa-star"></i>Real-time recognization<i class="fa fa-star"></i></div>
										<div class="feature-info">
										  Vital loads .tun, .scl, and .kbd files so you can play microtonally.
										  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio nulla et explicabo voluptatibus consequuntur ipsam praesentium inventore aliquam ut, soluta officia optio alias. Natus nostrum in nam enim maxime et!Lorem
										</div>
									  </div>
								</div>
							</div>
							
						</div>
					</section>
			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; SETIVB PROGRAM</li><li>Design: <a href="#">Set to title</a></li>
					</ul>

			</div>

		<!-- Scripts -->
		
<!-- 		
			<script src="../../public/js/home/jquery.min.js"></script>
			<script src="../../public/js/home/jquery.scrolly.min.js"></script>
			<script src="../../public/js/home/jquery.scrollex.min.js"></script>
			<script src="../../public/js/home/browser.min.js"></script>
			<script src="../../public/js/home/breakpoints.min.js"></script>
			<script src="../../public/js/home/util.js"></script>
			<script src="../../public/js/home/main.js"></script> -->
			<script src="/js/home/jquery.min.js" defer></script>
			<script src="/js/home/jquery.scrolly.min.js" defer></script>
			<script src="/js/home/jquery.scrollex.min.js" defer></script>
			<script src="/js/home/browser.min.js" defer></script>
			<script src="/js/home/breakpoints.min.js" defer></script>
			<script src="/js/home/util.js" defer></script>
			<script src="/js/home/main.js" defer></script>
			<script>
				document.querySelector('#watch').addEventListener('click', function(){
					document.querySelector('.watchb-bg').classList.add('modal-show');
				})
				document.querySelector('#close').addEventListener('click', function(){
					document.querySelector('.watchb-bg').classList.remove('modal-show');
				})
			</script>
			<script>
				
				function imgspin() {
				// 이미지 요소를 가져옵니다.
				const img = document.getElementById("fi");
				//.shape 요소를 가져옵니다.
				const shape = document.querySelector('.shape');
				// 스크롤 이벤트에 대한 핸들러를 추가합니다.
				shape.addEventListener("scroll", () => {
					// 현재 스크롤 위치를 가져옵니다.
					const scrollY = document.querySelector('.shape').scrollTop;
					
					if(scrollY>5){
						// 이미지의 회전 각도를 설정합니다.
					img.style.transform = `rotate(${scrollY/10}deg)`;
					}
				});
			}
			</script>
	</body>
</html>
